<html lang="ja">
    <head>
        <title>pokemon sleep</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
        <style>
            
        </style>
    </head>
    <body>
        <h2>pokemon sleepヘようこそ</h2>
        カビゴン評価:今は{{rankpos.ranknow}}です<br>
        今のカビゴンのパワーはです。
        <progress value="0" max="100"></progress>
        <p></p>
        ポケモン1<button>木の実を渡す</button>
        <p></p>
        ポケモン2<button>木の実を渡す</button>
        <p></p>
        ポケモン3<button>木の実を渡す</button>
        <p></p>
        ポケモン4<button>木の実を渡す</button>
        <p></p>
        ポケモン5<button>木の実を渡す</button>
        <p></p>
        <button onclick="location.href='/sleep'">眠る</button>
    </body>
</html>