<html lang="ja">
    <head>
        <title>pokemon sleep</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
        <style>
            
        </style>
    </head>
    <body>
        <form  class="form" action="/sleep/store" method="post">
            <h2>睡眠を記録する</h2>
            <div>
                <label for="day">日付</label>
                <input type="date" name="day">
            </div>
            <div>
                <label for="sleeptime">睡眠時間<label>
                <input type="time" name="sleeptime">
            </div>
            <div>
                <label for="getuptime">起床時間</label>
                <input type="time" name="getuptime">
            </div>
            <button type="submit" class="btn btn-outline-primary">保存する</button>
            <a href='/'>キャンセル</a>
        </form> 
    </body>
</html>